/* line 5, ../sass/application.scss */
a {
  font-size: 200px;
  background: red;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
